@import "tailwindcss";

@theme {
  --color-primary: #45464d;
  --color-secondary: #1c5e92;
  --color-tertiary: #32a5da;
  --color-dark-black: #000000;
}

body {
  color: white;
  background-color: #1e2328;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
