@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "./styles/ant-design/index.css";

@theme {
  --color-primary: #1c5e92;
  --color-secondary: #1c5e92;
  --color-tertiary: #32a5da;
  --color-dark-gray: #353232;
  --color-dirty-white: #fbfbfb;
  --font-poppins: "Poppins", "sans-serif";
}

body {
  color: black;
  background-color: #f9f9fb;
  overflow-y: hidden;
  font-family: var(--font-poppins);
}

::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-gradient-header {
  background: linear-gradient(
    90deg,
    #28587e 2%,
    #2b6a9c 7%,
    #7ba2c0 15%,
    #e6eef3 30%,
    #dedeff 52%,
    #fbfbfb 71%,
    #b1cbda 82%,
    #29618d 97%,
    #1c5e92 100%
  );
}

.ant-form-item {
  margin: 0px !important;
}
